<div class="container-fluid">
    <h1 class="footer-heading">Select Location</h1>
    <div class="row g-3">
        <div class="col-sm-7">
          <input type="text" class="form-control" placeholder="City" aria-label="City">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="State" aria-label="State">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
        </div>
      </div>
    <h5 class="copyright">@Akash Sontakke</h5>
</div>
