<div class="container">
    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/m1.jpg"  height="200" priority class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/m2.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/m4.jpg" height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/m5.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/L1.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/L2.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/l3.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/l5.jpg" height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/tv1.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/tv2.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div></div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/tv3.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/2.jpg"  height="200" priority  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
</div>
