<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
   
      <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m1.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m2.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m2.jpg" style="height: 375px;"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m4.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m5.jpg" style="height: 375px;"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m1.jpg" style="height: 375px;"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m2.jpg" style="height: 375px;"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m1.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m4.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m5.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m1.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m2.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div><div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m5.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m4.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m5.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/m1.jpg" style="height: 375px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <p class="card-text">Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery.</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
