<div class="container">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/slider1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/slider2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/slider1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-4"><img src="../../assets/L1.jpg" style="height: 200px; width: 300px;"></div>
          <div class="col-8">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Dell Vostro 3420 Laptop,Intel i3-1115G4/8GB/512GB/14.0"(35.56cm) FHD Display,TÜV Rheinland Certified Comfortview Reduce Harmful Blue Light Emissions/Win 11+MSO'21/15 Month McAfee/Carbon Black/1.48kg</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

          </div>
        </div>
        <div class="row">
            <div class="col-4"><img src="../../assets/L2.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/512GB SSD/14.0" (35.56cm) FHD TÜV Rheinland Certified Comfortview to Reduce Harmful Blue Light Emission/Windows 11 + MSO'21/Black/15 Month McAfee,1.48kg</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/l3.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">HP Pavilion Laptop, 13th Gen Intel Core i7-1360P 15.6 inch(39.6cm) FHD, 16GB RAM, 1TB SSD, Intel Iris Xe Graphics, B&O, Backlit KB, FPR (Win 11, MSO 2021, Alexa, Natural Silver, 1.75 Kg) 15-eg3036TU</p>
                      
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/l5.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">ASUS Vivobook 15, Intel Celeron N4020, 15.6" (39.62 cms) HD, Thin and Light Laptop (8GB/512GB SSD/Integrated Graphics/Windows 11/Office 2021/Fingerprint/Silver/1.8 kg), X515MA-BR024WS</p>
                     
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/L1.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">Dell Vostro 3420 Laptop,Intel i3-1115G4/8GB/512GB/14.0"(35.56cm) FHD Display,TÜV Rheinland Certified Comfortview Reduce Harmful Blue Light Emissions/Win 11+MSO'21/15 Month McAfee/Carbon Black/1.48kg</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/L2.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">ASUS Vivobook 15, Intel Celeron N4020, 15.6" (39.62 cms) HD, Thin and Light Laptop (8GB/512GB SSD/Integrated Graphics/Windows 11/Office 2021/Fingerprint/Silver/1.8 kg), X515MA-BR024WS</p>
                     
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/l3.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/512GB SSD/14.0" (35.56cm) FHD TÜV Rheinland Certified Comfortview to Reduce Harmful Blue Light Emission/Windows 11 + MSO'21/Black/15 Month McAfee,1.48kg</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/l5.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/512GB SSD/14.0" (35.56cm) FHD TÜV Rheinland Certified Comfortview to Reduce Harmful Blue Light Emission/Windows 11 + MSO'21/Black/15 Month McAfee,1.48kg</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="row">
            <div class="col-4"><img src="../../assets/L1.jpg" style="height: 200px; width: 300px;"></div>
            <div class="col-8">
              <div class="col-sm-12 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">ASUS Vivobook 15, Intel Celeron N4020, 15.6" (39.62 cms) HD, Thin and Light Laptop (8GB/512GB SSD/Integrated Graphics/Windows 11/Office 2021/Fingerprint/Silver/1.8 kg), X515MA-BR024WS</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
</div>